<html>
<head>
    <title>Welcome to Your API!</title>
</head>
<body>
Looks like you really blew it, and let your password fly away.
<br /><br />
Here's your new password
<br /><br />
<b><%= password %></b>
<br /><br />
Best,<br />
The Stream Team

<%- include('partials/footer') %>
</body>
</html>